body {
    font-family: "Lato", "Montserrat", sans-serif;
    /* background: url(images/background_login.jpg) no-repeat fixed;
    background-size: cover; */
    color: black;
}

/* .container-fluid {
    padding: 0 0 20% 0;
} */

.navbar {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    margin-right: 0px;
    width: 200px;
    height: 60px;
}

.logo {
    width: 180px;
    height: 60px;
}

.nav-item {
    padding: 0 5% 0;
}

.name {
    text-align: center;
}

h1 {
    font-family: 'Lato', 'Montserrat';
    font-size: 3rem;
    font-weight: bold;
}

.heading {
    margin-top: 3%;
    text-align: center;
}

#features {
    text-align: center;
    padding: 7% 15%;
    font-family: "Lato", "Montserrat", sans-serif;
}

.feature-icon {
    color: rgb(38, 101, 236);
    font-size: 2.5rem;
    padding-bottom: 3%;
}

.feature-icon:hover {
    color: rgb(4, 8, 255);
}

.features-h3 {
    font-size: 0.8rem;
    font-weight: bold;
}

.features-p {
    font-size: 0.6rem;
}

#testimonials {
    padding: 0 0 5% 0;
    text-align: center;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.watch-img {
    width: 400px;
    height: 350px;
    margin: 5px;
    border-radius: 8px;
}

.footer {
    text-align: center;
}

h6 {
    font-weight: bold;
}

.about-us-block {
    text-align: left;
}

.menu {
    list-style: none;
    text-align: left;
}

.footer-social-icon {
    list-style: none;
    text-align: left;
}