body{
    font-family: "Lato", "Montserrat", sans-serif;
    color: black;
    margin-top: 10px;
}

.home {
    margin-left: 20px;
}

form {
    margin: 0 35%;
}

.sign-up {
    margin: 0 36%;
}

.forgot {
    padding: 1% 0 3% 3%;
}
