body{
    font-family: "Lato", "Montserrat", sans-serif;
    margin-top: 10px;
    background: url("images/background_login.jpg") no-repeat right fixed;
    background-size: cover;
}

.sign-in {
    margin-bottom: 2%;
}

.forgot {
    color: white;
}

.btn {
    border-color: black;
}