body {
    font-family: "Lato", "Montserrat", sans-serif;
    color: black;
}


.container-fluid {
    padding: 0;
}

.navbar {
    padding: 5px 0px 10px;
    margin: 0;
    background-color: #dae1e7;
}

.navbar-brand {
    margin-right: 0px;
    width: 200px;
    height: 60px;
}

.logo {
    width: 180px;
    height: 60px;
}

.nav-item {
    padding: 0 5% 0;
}

/* .nav-link {
    color: white;
} */

h1 {
    font-family: 'Lato', 'Montserrat';
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.heading {
    text-align: center;
    margin: auto;
    padding: 0px;
}

.name {
    text-align: center;
    height: 400px;
    background-color: #142850;
}

.first-img {
    height: 100px;
    background-color: #27496d;
}

#features {
    text-align: center;
    padding: 3% 15%;
    font-family: "Lato", "Montserrat", sans-serif;
    background-color: #dae1e7;
}

.feature-icon {
    color: #00909e;
    font-size: 2.5rem;
    padding-bottom: 3%;
}

.feature-icon:hover {
    color: #27496d;
}

.features-h3 {
    font-size: 0.8rem;
    font-weight: bold;
}

.features-p {
    font-size: 0.6rem;
}

#testimonials {
    text-align: center;
    background-color: #27496d;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.watch-img {
    width: 300px;
    height: 250px;
    margin: 2%;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 2% 10% 1%;
    background-color: #dae1e7;
}

h6 {
    font-weight: bold;
}

.about-us-block {
    text-align: left;
}

.menu {
    list-style: none;
    text-align: left;
}

.footer-social-icon {
    list-style: none;
    text-align: left;
}
