body {
    
    font-family: "Lato", "Montserrat", sans-serif;
}

h1 {
    font-family: 'Lato', 'Montserrat';
    font-size: 4rem;
    font-style: italic;
    color: #007bff;
}

.container-fluid {
    padding: 0px 0px 2px 0px;
    background-color: #F3F6F6;
}

.logo {
    width: 40%;
}

.navbar-nav {
    margin-right: auto;
}

.nav-item {
    padding: 0 5%;
}

.reg {
    margin-right: 10px;
    padding-left: 5%;
}

.row {
    margin: 5px;
}

.pos {
    text-align: center;
}

.main {
    border-radius: 800px 0px 0px;
}

.main_head {
    /*background-image: url(paul-volkmer-f6vt6MKwKLU-unsplash.jpg);
    background-size: cover;
    background-position: center;*/
    padding-top: 10%;
    text-align: center;
}

#features {
    text-align: center;
    padding: 7% 15%;
    font-family: "Lato", "Montserrat", sans-serif;
}

.feature-icon {
    /* color: rgb(236, 81, 81); */
    color: #007bff;
    font-size: 2.5rem;
    padding-bottom: 3%;
}

.feature-icon:hover {
    color: maroon;
}

.features-h3 {
    font-size: 0.8rem;
    font-weight: bold;
}

.features-p {
    color: gray;
    font-size: 0.6rem;
}

#testimonials {
    padding: 0px 0px 2px 0px;
    background-color: #F3F6F6;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials-img {
    width: 400px;
    height: 350px;
    margin: 5px;
    border-radius: 8px;
}

#press {
    padding: 0px 0px 2px 0px;
    background-color: #F3F6F6;
    text-align: center;
}